{
  "url": "https://www.digi-display.com/en",
  "kiosk": true,
  "wait_for_network": true,
  "restart_browser": true,
  "remote_admin": {
    "tailscale": false,
    "ssh": false,
    "nomachine": false
  }
}
