{
  "version": 1,
  "mode": "cloud",
  "url": "https://www.undologic.com/en/pages/screen",
  "kiosk": true,
  "wait_for_network": true,
  "restart_browser": true,
  "virtual_keyboard": {
    "always_show": false
  },
  "remote_admin": {
    "tailscale": false,
    "ssh": false,
    "nomachine": false
  },
  "update": {
    "automatic": false
  }
}
